@font-face {
  font-family: 'SegoeUI400';
  src: url('../public/fonts/Segoe/SegoeUI.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'SegoeUI500';
  src: url('../public/fonts/Segoe/SegoeUI.ttf');
  font-weight: 500;
}

.body {
  background: #F0F2F5;

}


/* Header Start */
@media only screen and (min-width: 700px) {

  .header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: white;
    z-index: 999;
    transition: all 0.5s ease;
    font-size: large;
    padding-left: 25px;
    font-family: 'SegoeUI400';
    letter-spacing: 1px;
  }

  .headerLeft {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
  }

  .headerSearchContainer {
    margin-left: 10px;
    margin-bottom: 3px;
  }

  .headerSearch {
    border-radius: 30px;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    padding-bottom: 2px;
    border: none;
    outline: none;
    background-color: #F0F2F5;
    color: black;
    letter-spacing: 1px;
  }

  .headerSearch::placeholder {
    color: gray;
    letter-spacing: 1px;
  }

  .headerCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 40%;
    height: 100%;
    color: gray;
    padding: 0 20px;
  }



  .headerIconContainer {
    border: 0px;
    padding: 0px 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 8px;
  }

  .headerIconContainer:hover {
    border-radius: 9px;
    cursor: pointer;
    background-color: #F0F2F5;
  }

  .headerIconContainer:hover .headerCenterSpan {
    bottom: -50%;
    visibility: visible;
    opacity: 0.7;
  }

  .headerIconParent {
    border-bottom: 3px solid white;
    padding: 3px 0px;
  }

  .headerIconParentActive {
    border-bottom: 3px solid #1B74E4;
    padding: 3px 0px;
    color: #1B74E4;
  }


  .headerIcon {
    font-size: 35px;
  }

  .headerCenterSpan {
    position: absolute;
    background-color: black;
    color: white;
    white-space: nowrap;
    padding: 6px 10px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: small;
  }

  .headerCenterSpan::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-color: transparent;
  }


  .headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 30%;
    height: 100%;
    color: black;
  }

  .headerRightCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #dee2e6;
    overflow: hidden;
  }

  .headerProfilePic {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .headerRightCircle:hover {
    cursor: pointer;
    background-color: #c2c4c6;
  }

  .headerRightCircle:hover .headerCenterSpan {
    bottom: -50%;
    visibility: visible;
    opacity: 0.7;
  }

}

@media only screen and (max-width: 700px) {}

/*Header End */

/*Dashboard Start */

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'SegoeUI';
}

.dashboardLeft {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 23%;
  height: 100%;
}

.dashboardLeftActions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 95%;
  height: 100%;
  color: black;
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.dashboardLeftActions:hover {
  cursor: pointer;
  background-color: #e6e9eb;
  border-radius: 10px;
}

.dashboardLeftActionsIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.dashboardLeftIcon {
  height: 80%;
  width: 80%;
  object-fit: cover;
}

.dashboardLeftText {
  font-family: "SegoeUI500";
}

.dashboardLeftLineBreak {
  width: 100%;
  height: 1px;
  background-color: #dee2e6;
  margin: 10px 0px;
}

.dashboardCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  width: 40%;
  padding: 10px;
}

.dashboardCreatePost {
  background: white;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}

.dashboardCreatePostContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

.dashboardCreatePostLineBreak {
  width: 98%;
  height: 1px;
  background-color: #dee2e6;
  margin: 10px 0px;
}

.dashboardCreatePostActions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  color: black;
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: "SegoeUI500";
  padding: 5px;
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 10px;
}

.dashboardCreatePostActions:hover {
  cursor: pointer;
  background: #F0F2F5;
}

.dashboardCreatePostInput {
  border-radius: 40px;
  width: 500px;
  height: 40px;
  padding-left: 15px;
  padding-bottom: 2px;
  border: none;
  outline: none;
  background-color: #F0F2F5;
  color: black;
  letter-spacing: 1px;
  font-size: small;
  font-weight: 700;
}

.dashboardCreatePostInput::placeholder {
  color: gray;
  letter-spacing: 1px;
}

.createPostVideo {
  color: #F20000;
  height: 30px;
  width: 50px;
}

.createPostGallery {
  color: #42B45E;
  height: 30px;
  width: 50px;
}

.createPostEmoji {
  color: #F1B72E;
  height: 30px;
  width: 50px;
}

.dashboardPublicPost {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  border-radius: 10px;
  background: white;
  font-family: "SegoeUI500";
}

.postHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 10px;
}

.postHeaderPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 2px;
  overflow: hidden;
}

.postOwnerTime {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 5px;
}

.owner {
  font-size: 15px;
  font-weight: 700;
}

.owner:hover {
  cursor: pointer;
  text-decoration: underline;
}

.duration {
  font-size: 12px;
  color: gray;
}

.postHeaderOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
  overflow: hidden;
  color: gray;
}

.postHeaderOptions:hover {
  background: #F0F2F5;
  cursor: pointer;
}

.postBody {
  padding: 10px;
}

.postMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top: 1px solid #F0F2F5;
  border-bottom: 1px solid #F0F2F5;
}

.postMediaPic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.postReactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid red;
}

.postLikes {
  color: #1B74E4;
}

.postCommentShares {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  color: gray;
  font-size: 12px;
}

.dashboardRight {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 23%;
  height: 100%;
  font-family: "SegoeUI400";
}

.dashboardRightHeading {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  color: #5b5d60;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.dashboardRightHeadingText {
  font-family: "SegoeUI500";
}

.dashboardRightHeadingIcon {
  width: 30px;
  height: 30px;
  padding: 2px;
}

.dashboardRightHeadingIcon:hover {
  border-radius: 50%;
  background-color: #e6e9eb;
  cursor: pointer;
}

/*Dashboard End */